<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card my-5">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h3 class="m-0">
                <i class="fa-solid fa-plane-departure me-2"></i> Ponuda putovanja
              </h3>
            </div>
            <div class="col-6 text-end">
              <button type="button" class="btn btn-primary rounded-1">
                <i class="fa-solid fa-filter"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr class="bg-dark text-white">
                <th class="align-middle text-center">R. Br.</th>
                <th class="align-middle text-center">Naziv</th>
                <th class="align-middle text-center">Vrsta</th>
                <th class="align-middle text-center">Udaljenost</th>
                <th class="align-middle text-center">Vreme putovanja</th>
                <th class="align-middle text-center">Cena</th>
                <th class="align-middle text-center">Ocena</th>
                <th class="align-middle text-center">Detalji</th>
                <th class="align-middle text-center">Rezerviši</th>
                <th class="align-middle text-center">Planiraj</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="tripService.fromFile().length === 0; else trips">
                <td class="align-middle text-center" colspan="10">
                  <span class="text-danger">
                    <strong>Trenutno nema aktivnih putovanja.</strong>
                  </span>
                </td>
              </tr>
              <ng-template #trips>
                <tr *ngFor="let trip of tripService.fromFile(); let i = index" [attr.data-index]="i">
                  <td class="align-middle text-center">{{ i + 1 }}</td>
                  <td class="align-middle text-center">{{ trip.name }}</td>
                  <td class="align-middle text-center">{{ trip.type.toString().toUpperCase() }}</td>
                  <td class="align-middle text-center">{{ trip.distance | number:'1.2-2' }}</td>
                  <td class="align-middle text-center">{{ trip.duration | date:'hh:mm' }}</td>
                  <td class="align-middle text-center">{{ trip.price | currency }}</td>
                  <td class="align-middle text-center">{{ tripService.tripRating(trip) | number:'1.2-2' }}</td>
                  <td class="align-middle text-center">
                    <button [routerLink]="['trip/:uid', trip.uid]" class="btn btn-info rounded-1" type="button">
                      <i class="fa-solid fa-circle-info text-white"></i>
                    </button>
                  </td>
                  <td class="align-middle text-center">
                    <button (click)="tripService.addToCart(trip)" class="btn btn-success rounded-1" type="button">
                      <i class="fa-solid fa-circle-plus"></i>
                    </button>
                  </td>
                  <td class="align-middle text-center">
                    <button (click)="tripService.addToFavourites(trip)" class="btn btn-warning rounded-1" type="button">
                      <i class="fa-solid fa-star"></i>
                    </button>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
