<div class="container">
  <div class="row">
    <div class="offset-3 col-6">
      <div class="card my-5">
        <div class="card-header">
          <h1 class="m-0">Registracija korisnika</h1>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" name="form" [formGroup]="passengerFrom" id="sign-up" method="post">
            <div class="form-group my-3">
              <label for="name">
                <strong>Ime: <span class="text-danger">*</span></strong>
              </label>
              <input class="form-control rounded-1" formControlName="name" id="name" type="text">
              <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
                <strong>
                  <small *ngIf="name?.errors?.['required']">Ime je obavezno!</small>
                  <small *ngIf="name?.errors?.['maxLength']">Maksimalna dužina je 32 karaktera!</small>
                  <small *ngIf="name?.errors?.['pattern']">Ime nije validno!</small>
                </strong>
              </div>
            </div>
            <div class="form-group my-3">
              <label for="surname">
                <strong>Prezime: <span class="text-danger">*</span></strong>
              </label>
              <input class="form-control rounded-1" formControlName="surname" id="surname" type="text">
              <div *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)" class="text-danger">
                <strong>
                  <small *ngIf="surname?.errors?.['required']">Prezime je obavezno!</small>
                  <small *ngIf="surname?.errors?.['maxLength']">Maksimalna dužina je 32 karaktera!</small>
                  <small *ngIf="surname?.errors?.['pattern']">Prezime nije validno!</small>
                </strong>
              </div>
            </div>
            <div class="form-group my-3">
              <label for="email">
                <strong>Adresa e-pošte: <span class="text-danger">*</span></strong>
              </label>
              <input class="form-control rounded-1" formControlName="email" id="email" type="email">
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
                <strong>
                  <small *ngIf="email?.errors?.['required']">Adresa e-pošte je obavezna!</small>
                  <small *ngIf="email?.errors?.['email']">Adresa e-pošte nije validna!</small>
                </strong>
              </div>
            </div>
            <div class="form-group my-3">
              <label for="password">
                <strong>Lozinka: <span class="text-danger">*</span></strong>
              </label>
              <input class="form-control rounded-1" formControlName="password" id="password" type="password">
              <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
                <strong>
                  <small *ngIf="password?.errors?.['required']">Lozinka je obavezna!</small>
                  <small *ngIf="password?.errors?.['minLength']">Lozinka mora da sadrži minimum 8 karaketra!</small>
                </strong>
              </div>
            </div>
            <div class="form-group my-3">
              <label for="phone">
                <strong>Broj telefona: <span class="text-danger">*</span></strong>
              </label>
              <input class="form-control rounded-1" formControlName="phone" id="phone" type="text">
              <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)" class="text-danger">
                <strong>
                  <small *ngIf="phone?.errors?.['required']">Broj telefona je obavezan!</small>
                  <small *ngIf="phone?.errors?.['pattern']">Broj telefona nije validan!</small>
                </strong>
              </div>
            </div>
            <div class="form-group my-3">
              <label for="address">
                <strong>Adresa: <span class="text-danger">*</span></strong>
              </label>
              <input class="form-control rounded-1" formControlName="address" id="address" type="text">
              <div *ngIf="address?.invalid && (address?.dirty || address?.touched)" class="text-danger">
                <strong>
                  <small *ngIf="address?.errors?.['required']">Adresa je obavezna!</small>
                  <small *ngIf="address?.errors?.['maxLength']">Maksimalna dužina je 32 karaktera!</small>
                </strong>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary rounded-1" form="sign-up" title="Registrujte se" type="submit">
                Registrujte se
              </button>
            </div>
            <div class="col-6 text-end">
              <a class="btn btn-link rounded-1" routerLink="" title="Prijava korisnika">
                Prijava korisnika
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
