<div class="container">
  <div class="row">
    <div class="offset-3 col-6">
      <div class="card my-5">
        <div class="card-header">
          <h1 class="m-0">Prijava korisnika</h1>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="authFrom" id="sign-in" method="post">
            <div class="form-group my-3">
              <label for="email">
                <strong>Adresa e-pošte: <span class="text-danger">*</span></strong>
              </label>
              <input class="form-control rounded-1" formControlName="email" id="email" type="email">
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="my-1 text-danger">
                <small *ngIf="email?.errors?.['required']">Polje adresa e-pošte je obavezno!</small>
                <small *ngIf="email?.errors?.['email']">Adresa e-pošte nije validna!</small>
              </div>
            </div>
            <div class="form-group my-3">
              <label for="password">
                <strong>Lozinka: <span class="text-danger">*</span></strong>
              </label>
              <input class="form-control rounded-1" formControlName="password" id="password" type="password">
              <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="my-1 text-danger">
                <small *ngIf="password?.errors?.['required']">Polje lozinka je obavezno!</small>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary rounded-1" form="sign-in" title="Prijavite se" type="submit">
                Prijavite se
              </button>
            </div>
            <div class="col-6 text-end">
              <a class="btn btn-link rounded-1" routerLink="/sign-up" title="Registracija korisnika">
                Registracija korisnika
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
